* {
  --panchang: "Panchang", sans-serif;
  --orange: #ff5c36;
  font-family: "Satoshi", sans-serif;
  color: white;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
#bg_hollo {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("assets/hollo.jpg");
  background-position: center;
  background-size: cover;
}
#container_index {
  position: relative;
  width: 98svw;
  height: 100svh;
}
#conjugation_box {
  transition: all 0.5s ease;
}
#container_bg_filter {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  opacity: 0;
}
#container_index #conjugation_box {
  position: absolute;
  top: 35px;
  bottom: 35px;
  right: 35px;
  left: 35px;
  border-radius: 10px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.84);
}
#head_baby {
  position: fixed;
  z-index: 0;
  width: 300px;
  transform: rotate(20grad);
}
#conjugation_box #input_btn_box {
  display: flex;
  justify-content: center;
}

#verb_input {
  font-family: var(--panchang);
  border: none;
  border-bottom: white 5px solid;
  background-color: transparent;
  color: white;
  font-size: clamp(1.5rem, 3vw, 3rem);
  width: 80%;
  outline-width: 0;
  text-transform: lowercase;
}
#current_verb {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20vh;
  z-index: 2;
}
#current_verb::after {
  display: none;
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  background-color: red;
  z-index: -1;
  border-radius: 50%;
  filter: blur(50px);
}

#current_verb table tbody tr td {
  font-size: 1.5rem;
  padding: 0 5px;
}

#current_verb table tbody tr td:first-child {
  font-style: italic;
  font-weight: 301;
  text-align: right;
}

#current_verb table tbody tr td:last-child {
  font-weight: 900;
}

/* -----------CONJUGATED VERBS----------------- */

#conjugated_verbs {
  display: flex;
  align-content: flex-start;
  width: 95svw;
  height: 100svh;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  gap: 2%;
  padding: 10px 10px 0 10px;
}
#conjugated_verbs .boxbox {
  position: relative;
  overflow: hidden;
  display: grid;
  height: fit-content;
  gap: 5px;
  width: 20%;
  padding: 10px 5px;
  transition: position 0.3s ease;

  /* Glass */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.9px);
  -webkit-backdrop-filter: blur(2.9px);
}
#conjugated_verbs .boxbox:hover h1 {
  text-decoration: underline 5px var(--orange);
}
#conjugated_verbs .boxbox h1 {
  font-family: var(--panchang);
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
  text-transform: lowercase;
}
#conjugated_verbs .boxbox .verb_row {
  display: flex;
  gap: 5px;
  width: 100%;
}
#conjugated_verbs .boxbox .verb_row p {
  width: 50%;
}
#conjugated_verbs .boxbox .verb_row p:first-child {
  font-style: italic;
  text-align: right;
}
#conjugated_verbs .boxbox .verb_row .verb_cell {
  font-weight: 901;
}
#print_btn {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: transparent;
  rotate: -50grad;
  border: solid white;
  font-family: var(--panchang);
  cursor: pointer;
}
.delete_btn_in_box {
  position: absolute;
  border: white 1px solid;
  padding: 2px;
  border-radius: 50%;
  left: -24px;
  bottom: 10px;
  transition: transform 0.5s ease, color 0.5s ease;
  cursor: pointer;
}
#conjugated_verbs .boxbox:hover .delete_btn_in_box {
  transform: translateX(35px);
  background-color: white;
  color: black;
}
#empty_text {
  width: 100%;
  text-align: center;
}

/* General, re-used classes */
.btn_cursor_pointer {
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  #container_index {
    width: 100svw;
  }
  #container_index #conjugation_box {
    top: 2%;
    bottom: 2%;
    right: 2%;
    left: 2%;
  }
  #conjugated_verbs .boxbox {
    width: 45%;
  }
  #conjugated_verbs .boxbox h1 {
    font-size: 1.2rem;
  }
  #conjugated_verbs .boxbox .delete_btn_in_box {
    transform: translateX(35px);
  }
}
